.csp{
    cursor: n-resize;
}

.logo {
    width: 320px;
    height: 120px;
}
.logodiv{
    background-color: black;
}
.table input,
.table div {
    width: 100%; 
}

@media (max-width: 767px) {
    .pagination {
        flex-wrap: wrap; 
    }
    
}
